@import "tailwindcss";

@theme {
  --font-sans: var(--font-space-grotesk);
}

:root {
  --background: #FDF8F5;
  --foreground: #171717;
  --primary: #F29440;
  --primary-hover: #E88935;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}
